body {
    font-family: Agency FB, Brush Script MT;
    font-size:15px;
    line-height:1.5;
    padding: 0;
    margin: 0;
    background-color: #000000;
}

.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}